# Godot 4+ specific ignores
.godot/
/android/
addons/baked_lipsync/oven/Rhubarb-Lip-Sync-1.13.0-Windows/
addons/baked_lipsync/oven/Rhubarb-Lip-Sync-1.13.0-Linux/
addons/baked_lipsync/oven/Rhubarb-Lip-Sync-1.13.0-macOS/
